body {
  background-color: #231f20;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

nav {
  min-width: 100px;
  display: block;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

nav > ul > li {
  position: relative;
}

nav > ul > li > a {
  height: 45px;
  text-transform: uppercase;
  color: #ffc732;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #231f20;
  background-color: #231f20;
  padding: 0px 10px;
}

nav > ul > li > a.active {
  border: 1px solid #ffc732;
}

nav > ul > li > a:hover {
  transition: 0.4s all;
  background: #ffc732;
  color: #231f20;
}

.home {
  max-width: 32rem;
  margin: auto;
}

.home > p > img {
  width: 20px;
  vertical-align: bottom;
  margin-left: 6px;
}

.home > img:last-child {
  width: 671px;
  margin: auto;
  display: block;
}

a {
  color: #ffc732;
  font-size: 16px;
  padding-left: 10px;
}

.externalLink {
  padding: 20px 0px;
  display: inline-block;
}

.resources > ul a {
  display: block;
  width: 90%;
  word-break: break-all;
}

.resources h3 {
  text-transform: capitalize;
}

.talks {
  text-align: center;
  padding-top: 20px;
}

.jobs {
  max-width: 75%;
  margin: auto;
  min-width: 100px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jobs > input[type="text"] {
  padding: 10px 20px;
  display: block;
  letter-spacing: 2px;
}

.job-card {
  background: #fff;
  color: #231f20;
  padding: 10px 22px;
  margin: 8px auto;
}

.job-card > div {
  padding: 0px 10px;
  line-height: 1.5em;
}

.job-card strong {
  padding-right: 10px;
}

.job-listing {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.slack {
  max-width: 300px;
  margin: auto;
}

.slack form {
  background: #fff;
  color: #231f20;
  padding: 10px;
  line-height: 1.5rem;
}

.slack label {
  margin-top: 20px;
  display: block;
}

.slack input[type="text"],
.slack input[type="email"] {
  width: 82%;
  margin-top: 12px;
  padding: 10px 18px;
}

input[type="submit"] {
  margin-top: 20px;
  height: 45px;
  color: #ffc732;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #231f20;
  background-color: #231f20;
  padding: 0px 10px;
  cursor: pointer;
}

.error {
  color: red;
}
